* {
  margin: 0;
  padding:0;
}

.head {
  display: flex;
  justify-content: space-around;
}

div.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a.countries:nth-child(4n+1) {
  background-color: #4369b2;
}

a.countries:nth-child(4n) {
  background-color: #4369b2;
}

a.countries {
  width: 30%;
  border: 1px solid black;
  padding: 2rem;
  cursor: pointer;
  font-size: 1rem;
  color: black;
}


/* ea country */

.r-country {
  margin-top: 1rem;
  margin-bottom: 8rem;
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

li:nth-child(odd) {
  background-color: #4369b2;
}

.left, .right{
  font-size: 1.2rem;
}